alias sudo="sudo "
alias s="sudo "
alias please='sudo $(fc -ln -1)'
alias c="clear"
alias e="emacs -nw"
alias grep="grep --color=auto"
alias g="grep --color=auto"
alias l="ls -altr"
alias ..="cd .."
alias -- -="cd -"
alias pgrep="pgrep -i"
alias python="python3 "
alias pip="pip3"
alias grl="grep -rl"